<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lipop.micro.house.biz.dao.HouseMapper" >
  <resultMap id="BaseResultMap" type="com.lipop.micro.house.common.model.House" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="price" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="images" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="area" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="beds" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="baths" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="rating" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="remarks" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="properties" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="floor_plan" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tags" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="city_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="community_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="address" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="state" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, type, price, images, area, beds, baths, rating, remarks, properties, floor_plan, 
    tags, create_time, city_id, community_id, address, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from house
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from house
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.lipop.micro.house.common.model.House" >
    insert into house (id, name, type, price, 
      images, area, beds, 
      baths, rating, remarks, 
      properties, floor_plan, tags, 
      create_time, city_id, community_id, 
      address, state)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=BIT}, #{price,jdbcType=INTEGER}, 
      #{images,jdbcType=VARCHAR}, #{area,jdbcType=INTEGER}, #{beds,jdbcType=INTEGER}, 
      #{baths,jdbcType=INTEGER}, #{rating,jdbcType=DOUBLE}, #{remarks,jdbcType=VARCHAR}, 
      #{properties,jdbcType=VARCHAR}, #{floorPlan,jdbcType=VARCHAR}, #{tags,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{cityId,jdbcType=INTEGER}, #{communityId,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{state,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.lipop.micro.house.common.model.House" >
    insert into house
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="images != null" >
        images,
      </if>
      <if test="area != null" >
        area,
      </if>
      <if test="beds != null" >
        beds,
      </if>
      <if test="baths != null" >
        baths,
      </if>
      <if test="rating != null" >
        rating,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="properties != null" >
        properties,
      </if>
      <if test="floorPlan != null" >
        floor_plan,
      </if>
      <if test="tags != null" >
        tags,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="communityId != null" >
        community_id,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=BIT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="images != null" >
        #{images,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        #{area,jdbcType=INTEGER},
      </if>
      <if test="beds != null" >
        #{beds,jdbcType=INTEGER},
      </if>
      <if test="baths != null" >
        #{baths,jdbcType=INTEGER},
      </if>
      <if test="rating != null" >
        #{rating,jdbcType=DOUBLE},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="properties != null" >
        #{properties,jdbcType=VARCHAR},
      </if>
      <if test="floorPlan != null" >
        #{floorPlan,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        #{tags,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="communityId != null" >
        #{communityId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lipop.micro.house.common.model.House" >
    update house
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=BIT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="images != null" >
        images = #{images,jdbcType=VARCHAR},
      </if>
      <if test="area != null" >
        area = #{area,jdbcType=INTEGER},
      </if>
      <if test="beds != null" >
        beds = #{beds,jdbcType=INTEGER},
      </if>
      <if test="baths != null" >
        baths = #{baths,jdbcType=INTEGER},
      </if>
      <if test="rating != null" >
        rating = #{rating,jdbcType=DOUBLE},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="properties != null" >
        properties = #{properties,jdbcType=VARCHAR},
      </if>
      <if test="floorPlan != null" >
        floor_plan = #{floorPlan,jdbcType=VARCHAR},
      </if>
      <if test="tags != null" >
        tags = #{tags,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="communityId != null" >
        community_id = #{communityId,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lipop.micro.house.common.model.House" >
    update house
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=BIT},
      price = #{price,jdbcType=INTEGER},
      images = #{images,jdbcType=VARCHAR},
      area = #{area,jdbcType=INTEGER},
      beds = #{beds,jdbcType=INTEGER},
      baths = #{baths,jdbcType=INTEGER},
      rating = #{rating,jdbcType=DOUBLE},
      remarks = #{remarks,jdbcType=VARCHAR},
      properties = #{properties,jdbcType=VARCHAR},
      floor_plan = #{floorPlan,jdbcType=VARCHAR},
      tags = #{tags,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      city_id = #{cityId,jdbcType=INTEGER},
      community_id = #{communityId,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      state = #{state,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="houseCondition">
    <if test="house.userId != null and house.userId != 0">
      inner join (select house_id,user_id from house_user
      <where>
        user_id = #{house.userId}
        <if test="house.bookmarked != null and house.bookmarked == true">
          and type = 2
        </if>
        <if test="house.bookmarked != null and house.bookmarked == false">
          and type =1
        </if>
      </where>
      ) b
      on a.id = b.house_id
    </if>
    <where>
      <!-- 这里要注意只显示上架的房产 -->
      state = 1
      <if test="house.id !=null and house.id !=0">
        and a.id = #{house.id}
      </if>
      <if test="house.type != null">
        and a.type = #{house.type}
      </if>
      <if test="house.communityId != null" >
        and a.community_id = #{house.communityId}
      </if>
      <if test="house.name != null and house.name != '' " >
        <bind name="pattern1" value = "'%' + house.name + '%'" />
        and a.name like #{pattern1}
      </if>
      <if test="house.ids != null and house.ids.size() > 0">
        and a.id in
        <foreach collection="house.ids" item="item" index="index" open="(" close=")" separator="," >
          #{item}
        </foreach>
      </if>
    </where>
  </sql>

  <select id="selectPageHouses" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from house a
    <include refid="houseCondition"></include>
    <choose>
      <when test="house.sort != null and house.sort == 'price_asc'">
        order by a.price asc
      </when>
      <when test="house.sort != null and house.sort == 'price_desc'">
        order by a.price desc
      </when>
      <otherwise>
        order by a.create_time desc
      </otherwise>
    </choose>
    <if test ="pageParams.offset !=null and pageParams.limit != null">
      limit #{pageParams.offset},#{pageParams.limit}
    </if>
    <if test="pageParams.offset == null and pageParams.limit != null">
      limit #{pageParams.limit}
    </if>
  </select>
  <select id="selectHouseUser" resultType="com.lipop.micro.house.common.model.HouseUser">
     select id,house_id,user_id,create_time,type
     from house_user
     where house_id = #{id} and user_id = #{userId} and type = #{type}
   </select>
  <insert id="insertHouseUser">
     insert into house_user (house_id,
                             user_id,
                             create_time,
                             type)
                     value(
                       #{houseId},
                       #{userId},
                       #{createTime},
                       #{type}
                     )

   </insert>

  <select id="selectSaleHouseUser" resultType="com.lipop.micro.house.common.model.HouseUser">
     select id,house_id,user_id,create_time,type
     from house_user
     where house_id = #{houseId} and  type = 1
     limit 1
   </select>
  <insert id="insertUserMsg">
     insert into house_msg (
                     msg,
                     create_time,
                     user_name,
                     house_id,
                     agent_id
                     )
                     value(
                      #{msg},
                      #{createTime},
                      #{userName},
                      #{houseId},
                      #{agentId}
                     )
    </insert>
  <update id="downHouse">
      update house
      set    state = 2
      where  id = #{id}
    </update>
  <delete id="deleteHouseUser">
      delete from house_user
      where  house_id = #{id} and user_id = #{userId} and type=#{type}

    </delete>
</mapper>